<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs4720.cs.virginia.edu.eventsnearme" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcome_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsMap"
            android:label="@string/title_activity_events_map" >
        </activity>
        <activity
            android:name=".CreateEvent"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name=".EventInfo"
            android:label="@string/title_activity_event_info" >
        </activity>
        <activity
            android:name=".EventsPage"
            android:label="@string/title_activity_events_page" >
        </activity>
    </application>

</manifest>
